.formBox .ivu-form-item{
    margin-bottom: 26px;
}
.formBox .ivu-form-label-top .ivu-form-item-label {
  font-size: 14px;
  color: #999999;
  padding-bottom: 19px;
}
.formBox .ivu-input-large {
  font-size: 14px;
  color: #999999;
  border: 1px solid #cccccc;
}
.formBox .ivu-btn-primary{
    font-size: 18px;
    width: 159px;
    height: 43px;
    background-color: #3a82fe;
    border-color: #3a82fe;
}
.formBox .ivu-input-group-prepend{
    background: #ffffff;
}
.formBox .seccode{
    position: relative;
}
.formBox .seccodeBtn{
    position: absolute;
    right: 0;
    top: 0;
    line-height:36px;
    padding: 0 10px;
    cursor: pointer;
}